<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.Hooya.mapper.RoleMapper">

    <resultMap type="Role" id="HooyaRole">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="permission" column="permission"/>
        <result property="root" column="root"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="getAllRoles" parameterType="HashMap" resultMap="HooyaRole">
        SELECT
            id,name,permission,root,status
        FROM
            t_role
        <where>
            <if test="status != null"> AND status = #{status}</if>
            <if test="root != null and root != 0"> AND root = #{root}</if>
            <if test="role_ids != null and role_ids.size() > 0">
                AND id IN
                <foreach collection="role_ids" item = "item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

</mapper>